body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  background:#CCC;border:1px solid #000;margin-bottom:5px;
}
table td, th {
  padding-left:10px;padding-right:10px;border:1px solid #DDD;
}
a {
  color: #00B7FF;
}
